* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #333;
}

hr {
  overflow: visible;
  border: none;
  height: 2px;
  background: #eee;
}

a {
  text-decoration: none;
}

a.link {
  text-decoration: underline;
}

p {
  line-height: 1.5;
}

h3 {
  font-size: 24px;
  color: #333;
  font-weight: normal;
  text-align: center;
}

.hidden {
  display: none;
}

.text-small {
  font-size: 14px;
}
.text-center {
  text-align: center;
}

.text-red {
  color: #c7254e;
}

.text-bg-pink {
  background: #f9f2f4;
}

.text-gray {
  color: #999;
}

.next-step {
  margin-top: 50px;
  width: 200px;
}
